<div>
	
	<a (click)=tahun2013()> 2013 </a> 
	2015
	2017
	2018

</div>


             <!--   <div class="col-sm-8 col-md-4">  
                   <select id="Id" class="hideLabel form-control" name="Id" (change)="selectName(value);">  
                           <option selected="" value=""></option>  
                        <option [ngValue]="provinsi.Id" *ngFor="let provinsi of DataProvinsi">  
                            {{provinsi.Provinsi}}  
                     </option>  
                </select>  
               </div>   -->

               <select #select [(ngModel)]="current" (change)="selectName(select.value)">
            <option *ngFor="let provinsi of DataProvinsi" [value]="provinsi.Provinsi">{{provinsi.Provinsi}}</option>
        </select>

     <!--  <select (change)="selectName(select.value)">
    <option *ngFor="let provinsi of DataProvinsi" [ngValue]="provinsi.id">{{provinsi.title}}</option>
</select> -->
 <select (change)="selectName($event.target.value)">
    <option *ngFor="let kota of dataKota">{{kota.Kota}}</option>
</select>





<!-- <div *ngFor="let provinsi of DataProvinsi" (click)="LihatKota(provinsi.Provinsi)" >
  {{ provinsi.No }}
  {{ provinsi.Provinsi }}


</div> -->


<!-- 
{{DataProvinsi.limit}} -->
<!-- <div>
  <svg height="500" width="1000">
  
  <path *ngFor="let mapkecil of map" [attr.d]="mapkecil.pathId" (click)="makeAlert(mapkecil.id)" [ngClass]="mapkecil.classId" stroke="white"/>
  
</svg>

<a routerLink="/mapdetail/{{userinfo.id}}" *ngFor="let userinfo of userlist">	  
	  	{{ userinfo.title }}<br>
	  	{{ userinfo.body }}<br> -->
	  	<!-- <img src="{{userinfo.image_url}}" width="75px"> <br><br>
	  </a>
	</div>
</div> -->