
<div *ngFor="let provinsi of DataProvinsi" (click)="LihatKota(provinsi.Provinsi)" >
  {{ provinsi.No }}
  {{ provinsi.Provinsi }}


</div>


<!-- 
{{DataProvinsi.limit}} -->
<!-- <div>
  <svg height="500" width="1000">
  
  <path *ngFor="let mapkecil of map" [attr.d]="mapkecil.pathId" (click)="makeAlert(mapkecil.id)" [ngClass]="mapkecil.classId" stroke="white"/>
  
</svg>

<a routerLink="/mapdetail/{{userinfo.id}}" *ngFor="let userinfo of userlist">	  
	  	{{ userinfo.title }}<br>
	  	{{ userinfo.body }}<br> -->
	  	<!-- <img src="{{userinfo.image_url}}" width="75px"> <br><br>
	  </a>
	</div>
</div> -->